<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/footer.css">
    <link rel="stylesheet" href="css/login.css">
    <title>Login</title>
    <meta name="title" content="Calyx Flowers KE | Login">
    <meta name="description" content="Login to for faster Chackout">
</head>
<body>
    <section id="loginBody">
        <img id="loginImage" src="/images/otherImage.jpg" alt="">
        <div id="loginContents">
            <h1 class="title" >Login</h1>
            <div id="formDiv" style="width: 100%;display: flex;justify-content: center;">

                <form id="Form" action="/login" method="post">
                    <input class="formInput" type="text" name="email" id="username" placeholder="Email" required><br>
                    <p class="errorMsg"><%= wrongUser %></p>
                    <div style="width: 100%;position: relative;">
                        <input class="formInput" type="password" name="password" placeholder="Password" id="password"  required><br>
                        <div class="eyeIcon">
                            <i class="bi bi-eye-fill "></i>
                        </div>
                    </div>
                    <p class="errorMsg"><%= wrongPass %></p>
                    <div style="width: 100%;text-align: center;">
                        <p id="forgot">Forgot Password?</p>
                    </div>
                    <button class="submitBtn" id="loginBtn" type="submit">Login</button>
                </form>

            </div>
            <div id="altOptions">
                <p>Or Sign in with</p>
                <a style="width: 100%;" href="/login/federated/google">
                    <button class="altButton" type="submit">
                        <img class="icon" src="/icons/google Icon.png" alt="">
                        Google
                    </button>
                </a>
                <p>Don't have an account? <a href="/signUp"><strong style="color: #B7A28A;">Sign Up</strong></a></p>
            </div>
        </div>
    </section>
    <script src="/js/login.js"></script>
</body>
</html>