<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/footer.css">
    <link rel="stylesheet" href="css/login.css">
    <link rel="icon" href="/images/favicon-32x32.png" type="image/png">
    <title>Reset password</title>
    <meta name="title" content="Calyx Flowers KE | Reset Password">
    <meta name="description" content="Reset Password incase you forgot your password.">
    <meta name="robots" content="noindex,follow" />
</head>
<body>
    <section id="loginBody">
        <section id="loginImageSection">
        </section>
        <div id="loginContents">     
            <div id="formDiv" style="width: 100%;display: flex;flex-direction: column; justify-content: center;align-items: center;">
                <h1 class="title" >Password reset</h1>
                <form id="Form" action="/reset-password/<%= tokenplaceholder %>" method="post">
                    <div style="width: 100%;position: relative;">
                        <input class="formInput" type="text" name="email" id="username" placeholder="Email" required><br>
                        <input class="formInput" type="password" name="password" placeholder="Enter new password" id="password"  required><br>
                    </div>
                    <button class="submitBtn" id="loginBtn" type="submit">Reset</button>
                </form>

            </div>
        </div>
    </section>
    
</body>
</html>