<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/footer.css">
    <link rel="stylesheet" href="css/login.css">
    <title>Login</title>
</head>
<body>
    <section id="loginBody">
        <img id="loginImage" src="/images/otherImage.jpg" alt="">
        <div id="loginContents">
            <h1 class="title" >Sign up</h1>
            <div id="formDiv" style="width: 100%;display: flex;justify-content: center;">
                <form id="loginForm" action="/signUp" method="post">
                    <input class="formInput" type="text" name="firstname" id="firstname" placeholder="Firstname" required>
                    <input class="formInput" type="text" name="lastname" placeholder="Lastname" id="lastname"  required>
                    <input class="formInput" type="text" name="email" placeholder="Email" id="email"  required><br>
                    <p class="errorMsg"><%= error %></p>
                    <input class="formInput" type="text" name="password" placeholder="Password" id="password"  required><br>
                    <input class="formInput" type="text" name="confirmPassword" placeholder="Confirm Password" id="confirmPassword"  required><br>
                    <button class="submitBtn" id='signBtn' type="submit">Sign Up</button>
                </form>`
            </div>
            <div id="altOptions">
                <p>Or Sign up with</p>
                <button class="altButton" type="submit">
                    <img class="icon" src="/icons/google Icon.png" alt="">
                    Google
                </button>
                <button class="altButton" type="submit">
                    <img id="facebook" class="icon" src="/icons/facebook icon.png" alt="">
                    Facebook
                </button>
                <p></p>
            </div>
        </div>
    </section>
    <script src="/js/login.js"></script>
</body>
</html>