@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@400;700&family=Roboto:ital,wght@0,400;0,500;0,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

body{
    /* margin-top: 20vh; */
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow-x: hidden;
    background-color: white;
    padding-top: 25vh;
}
a{
    text-decoration: none;
    color: inherit;
}
.link{
    padding-left: 8px;
    padding-right: 8px;
    text-decoration: none;
    color: whitesmoke;
}
.link:hover{
    background-color: #B7A28A;
}
#mobileHeader{
    display: none;
}
#headerBody{
    width: 100%;
    position: fixed;
    top: 0px;
    z-index: 100;
}
.headerIcons{
    margin-right: 24px;
}
.desktopNav{
    background-color:#B7A28A;
    height: 7vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
}
#topHeader{
    font-family: 'Poppins';
    font-size: 2.5vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
    background-color: rgba(223, 223, 223);
}
#desktopHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding-left: 5%;
    padding-right: 10%; */
    font-family: 'Poppins';
    color: whitesmoke;
    width: 100%;
    background-color: white;
}
#logo{
    width: 10%;
    height: 9vh;
    object-fit: contain;
}
#account{
    width: 24px;
    height: 24px;
}
#addToCart{
    width: 24px;
    height: 24px;
}
.navItem {
    color: whitesmoke;
    position: relative;
    display: inline-block;
    margin-right: 20px; /* Adjust the spacing between menu items */
}

.nav-button {
    color: whitesmoke;
    font-family: 'Poppins';
    background: none;
    border: none;
    cursor: pointer;
}

.dropdown-menu {
    position: absolute;
    top: 100%; /* Position the menu below the button */
    padding-top: 8px;
    padding-bottom: 8px;
    left: 0;
    display: none;
    flex-direction: column;
    border: 1px solid #B7A28A;
    background-color: #B7A28A;
    color: whitesmoke;
    font-family: 'Poppins';
    font-size: 13px;
    padding: 8px;
}
.navItem:hover .dropdown-menu {
    display: flex;
}
.loginDropdown{
    display: none;
    position: absolute;
    font-family:'Montserrat' ;
    top: 17vh;
    min-width: 10vw;
    z-index: 100;
    right: 16px;
    padding: 8px;
    padding-top: 0px;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    background-color: white;
    box-shadow: 0 2px 8px 0 rgba(112, 112, 112, 0.3);
    border-radius: 8px;
}
.show{
    display: flex;
}
.bi-list{
    font-size: 32px;
    display: none;
}
.bi-person-circle{
    font-size: 24px;
    cursor: pointer;
    color: #2e2e2e;
    margin-right: 8px;
}
#cartIcon{
    font-size: 24px;
    color: #2e2e2e;

}
.loginDropdown a{
    margin: 0px;
    margin-top: 8px;
    color: #2e2e2e;
}



@media screen and (max-width:1000px) {
    body{
        padding-top: 8vh;
    }
    #logo{
        width: 100px;
        height: 56px;
        margin-bottom: 0px;
        margin-top: 0px;
        object-fit: cover;
    }
    #topHeader{
        font-size: 10px;
        display: none;
    }
    .desktopNav{
        display: none;
        flex-direction: column;
        height: auto;
    }
    .navItem{
        height: auto;
        width: 100%;
        margin-right: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    #desktopHeader{
        box-shadow: 0 2px 8px 0 rgba(112, 112, 112, 0.3);
        z-index: 100;
    }
    .dropdown-menu {
        position: static;
        justify-content: center;
        align-items: center;
        background-color: #8f7e6c;
        width: 100%;
    }
    .headerIcons{
        position: relative;
        margin-right: 16px;
        color: #2e2e2e;
        font-size: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .headerIcons i{
        margin-left: 16px;
    }
    .loginDropdown{
        padding: 8px;
        top: 8vh;
        font-size: 17px;
        max-width: 50vw;
    }
    .loginDropdown a {
        margin: 0px;
        margin-top: 8px;
        margin-bottom: 16px;
    }
    .bi-list{
        display: block;
    }
    
}