a{
    text-decoration: none;
}
#loginBody{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#loginImage{
    width: 30%;
    height: 100%;
}
.title{
    margin-bottom: 16px;
    color: rgb(46, 46, 46);
    font-family: 'Inter';
}
#loginContents{
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
}
#loginForm{
    color: rgb(46, 46, 46);
    font-family: 'Montserrat';
    width: 40%;
    background-color: transparent;
    /* text-align: center; */
}
.formInput{
    font-family: 'Poppins';
    color: rgb(46, 46, 46);
    margin-top: 16px;
    margin-bottom: 0px;
    width: 100%;
    border-radius: 20px;
    height: 40px;
    border: none;
    outline: none;
    background-color: rgb(219, 219, 219);
    padding-left: 8px;
}
.eyeIcon{
    z-index: 1;
    position: absolute;
    top: 45%;
    right: 8px;
}
.errorMsg{
    margin: 0px;
    margin-left: 16px;
    color: rgb(238, 5, 5);
    font-size: 11px;
    font-family: 'Inter';
}
#firstname{
    width: 45%;
}
#lastname{
    margin-left: 8px;
    width: 45%;
}
#forgot{
    margin-top: 0px;
    text-decoration: none;
    color: rgb(46, 46, 46);
    font-size: 13px;
}
.submitBtn{
    margin-top: 8px;
    padding: 4px;
    border-radius: 20px;
    border: none;
    width: 100%;
    background-color: #B7A28A;
    color: whitesmoke;
    font-family: 'Poppins';
    font-size: 17px;
    height: 40px;   
}
#signBtn{
    margin-top: 24px;
}
#altOptions{
    margin-top: 32px;
    margin-bottom: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
    align-items: center;
    color: rgb(46, 46, 46);
    font-family: 'Roboto';
}
.icon{
    position: absolute;
    top: 8px;
    left: 8px;
    width: 24px;
}
#facebook{
    width: 28px;
    top: 4px;
}
.altButton{
    position: relative;
    margin-bottom:8px;
    padding: 4px;
    border-radius: 20px;
    border: solid 1px rgb(189, 189, 189);
    background: transparent;
    width: 100%;
    color:rgb(46, 46, 46);
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 17px;
    height: 40px
}
